# Ship Component: {{ name }} (Size {{ size }} {{ class }} Grade {{ grade }} {{ type|fix_camelcase }})
{{ description or "No description" }}

{% block component_stats %}
CONTENT
{% endblock %}

## Buyable at
{% for shop in shops %}
{{ shop.name_raw }} ({{ shop["items"][0].price_calculated|commas }} aUEC)
{% else %}
Not Buyable
{% endfor %}